/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #ECFFFD
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}


/*
  ========================================
  General Settings
  ========================================
*/
header {
    background-color: #E99486;
    height: 205px;
    padding-top: 20px;
    margin-bottom: 30px;
}
body {
  background: #FFF7E7;
}
article {
  border-top: 1px solid #DFD8CB;
  float: left;
  height: 550px;
  padding-top: 20px;
  width: 500px;
}
aside {
  float: right;
  height: 600px;
  width: 300px;
}

/*
  ========================================
  Typography
  ========================================
*/
h1 {
  color: #BF6051;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 10px;
}
a h1:hover {
  color: #954A3D;
}

/*
  ========================================
  Social
  ========================================
*/
table {
  float: right;
  margin-right: 100px;
  margin-top: 10px;
}
tr {
  border-bottom: 0;
}

/*
  ========================================
  Logo & Slogan
  ========================================
*/
.logo {
  float: left;
  height: 89px;
  width: 304px;
  padding-bottom: 5px;
}
.slogan {
  font-style: italic;
  float: left;
  padding-bottom: 25px;
  padding-left: 100px;
  text-align: center;
}
/*
  ========================================
  Main Menu
  ========================================
*/
a {
  color: #A39D92;
  text-decoration: none;
}
a:hover {
  color: #BF6051;
}
nav {
    background: #F5ECD9;
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
    }
nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 550;
  padding-right: 5px;
}
nav li:last-child {
  padding-left: 80px;
}
ul {
  height: 21px;
  padding: 5px;
}

/*
  ========================================
  Search
  ========================================
*/
input {
  border-color: solid #E99486;
  border-radius: 25px;
  font-size: 15px;
  height: 30px;
  width: 150px;
}

/*
  ========================================
  Posts (Preview)
  ========================================
*/
.preview {
  border: 10px solid #fff;;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 230px;
  width: 500px;
}
.extract {
  font-size: 23px;
  float: left;
  padding-bottom: 15px;
  padding-top: 12px;
  width: 250px;
}
.metabox {
  background: #F5ECD9;
  border-radius: 0 0 15px 15px;
  float: right;
  font-size: 18px;
  height: 150px;
  margin-right: 28px;
  padding-top: 10px;
  width: 200px;
}
.metabox li {
  font-weight: 600;
  padding-bottom: 10px;
}
.tags {
  float: left;
   padding-top: 10px;
}
.readmore {
  background: #D36A59;
  border-radius: 25px;
  clear: both;
  color: #FFF7E7;
  float: left;
  font-size: 18px;
  height: 33px;
  padding-top: 7px;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
}
.readmore:hover{
    background: #954A3D;
    text-decoration: none;
}