/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of the custom CSS */
body {
        background-color: black;
}
/* Main Area of the Game */
div#mainArea {
    position: relative;
    width: 720px;
    height: 400px;
    margin: auto;
    background-color: green;
}
/* Players' Health Bars */
div#userHPBar {
    position: absoulte;
    width: 300px;
    height: 50px;
    float: left;    
    background-color: yellow;
    margin-top: 10px;
    margin-left: 10px;
}
div#userStatusHPBar {
    position: absoulte;
    width: 0px;
    height: 50px;
    float: left;    
    background-color: red; 
}
div#enemyHPBar {
    position: absoulte;
    width: 300px;
    height: 50px;
    float: right;    
    background-color: yellow;
    margin-top: 10px;
    margin-right: 10px;
}
div#enemyStatusHPBar {
    position: absoulte;
    width: 0px;
    height: 50px;
    float: right;    
    background-color: red; 
}
/* Players Animation Area */
div#userView {
    position: absoulte;
    background-color: white;
    float: left;
    height: 200px;
    width: 200px;
    margin-top: 45px;
    margin-left: 65px;
}
div#enemyView {
    position: absoulte;
    background-color: white;
    float: right;
    height: 200px;
    width: 200px;
    margin-top: 45px;
    margin-right: 65px;
}
/* User Animations */ 
.userNormal {
        background: url(media/userNormal.png) no-repeat center center;
}
.userAttack0 {
          background: url(media/userAttack0.png) no-repeat center center;      
}
.userAttack1 {
          background: url(media/userAttack1.png) no-repeat center center;      
}
.userAttack2 {
          background: url(media/userAttack2.png) no-repeat center center;      
}
.userHit {
    background: url(media/userHit.png) no-repeat center center;
}
.userDraw {
        background: url(media/userDraw.png) no-repeat center center;
}
.userLowHP {
        background: url(media/userLowHP.png) no-repeat center center;    
}
.userDizzy {
          background: url(media/userDizzy.png) no-repeat center center;      
}
.userWin {
          background: url(media/userWin.png) no-repeat center center;      
}
.userLose {
          background: url(media/userDizzy.png) no-repeat center center;      
}
/* Enemy Animations */ 
.enemyNormal {
        background: url(media/enemyNormal.png) no-repeat center center;
}
.enemyAttack0 {
          background: url(media/enemyAttack0.png) no-repeat center center;      
}
.enemyAttack1 {
          background: url(media/enemyAttack1.png) no-repeat center center;      
}
.enemyAttack2 {
          background: url(media/enemyAttack2.png) no-repeat center center;      
}
.enemyHit {
    background: url(media/enemyHit.png) no-repeat center center;
}
.enemyDraw {
        background: url(media/enemyDraw.png) no-repeat center center;
}
.enemyLowHP {
        background: url(media/enemyLowHP.png) no-repeat center center;    
}
.enemyDizzy {
          background: url(media/enemyDizzy.png) no-repeat center center;      
}
.enemyWin {
          background: url(media/enemyWin.png) no-repeat center center;      
}
.enemyLose {
          background: url(media/enemyDizzy.png) no-repeat center center;      
}
/* User Action Buttons */
div#actionArea {
    position: absolute;
    display: block;
    margin-left: 80px;
    margin-top: 320px;
}
.show {
    font-weight: bold;
}
.hide {
    display: none;
}
/* Show Selection */
div#narration {
    color: white;
    background-color: blue;
    position: absolute;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    margin-top: 180px;
    margin-left: 285px;
}
